@* Role-based navigation links *@
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Lecturer"))
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="LecturerDashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Claims" asp-action="Index">My Claims</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Claims" asp-action="Create">Submit Claim</a>
        </li>
    }
    else if (User.IsInRole("Coordinator"))
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="CoordinatorDashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Claims" asp-action="Manage">Manage Claims</a>
        </li>
    }
    else if (User.IsInRole("HR"))
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="HrDashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Hr" asp-action="Report">Approved Claims Report</a>
        </li>
    }
}
