@{
    ViewData["Title"] = "Lecturer Dashboard";
}
<h2>Lecturer Dashboard</h2>
<p>Welcome, @User.Identity.Name!</p>

<div class="list-group">
    <a class="list-group-item list-group-item-action" href="@Url.Action("Index", "Claims")">View My Claims</a>
    <a class="list-group-item list-group-item-action" href="@Url.Action("Create", "Claims")">Submit a New Claim</a>
</div>
